<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">

    <ol class="breadcrumb">
      <li class="active" routerLink="/map"><i class="fas fa-home"></i> Menu</li>
    </ol>
  </section>

  <section class="content">


    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-green"
          style="border-radius: 5px; box-shadow: 10px 7px 9px -4px rgba(0,0,0,0.75); background-color: #008d4c !important;"
          routerLink="/map">
          <span style="background: white; border-radius: 5px; color: green;" class="info-box-icon"><i
              class="fas fa-map-signs"></i></span>

          <div class="info-box-content">
            <div style="color: white; margin-top: 50px; display: block;" class="text-center">
              <strong class="info-box-text">Mapas</strong>
            </div>
            <br />
          </div>
          <div style="background-color: #009551; bottom: 0; height: 20px; margin-top: -5px; border-radius: 5px">
            <div class="text-right" style="margin-right: 10px">
              <i class="fas fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-green" style="border-radius: 5px;box-shadow: 10px 7px 9px -4px rgba(0,0,0,0.75);"
          routerLink="/unidades-conservacao">
          <span style="background: white; border-radius: 5px; color: green" class="info-box-icon"><i
              class="fas fa-tree"></i></span>

          <div class="info-box-content">
            <div style="color: white; margin-top: 50px; display: block;" class="text-center">
              <strong class="info-box-text">Unidades de Conservação</strong>
            </div>
            <br />
          </div>
          <div style="background-color: #009551; bottom: 0; height: 20px; margin-top: -5px; border-radius: 5px">
            <div class="text-right" style="margin-right: 10px">
              <i class="fas fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3 col-sm-6 col-xs-12" style="margin-top: 25px">
        <div class="info-box bg-green" style="border-radius: 5px;box-shadow: 10px 7px 9px -4px rgba(0,0,0,0.75);"
          routerLink="/servicos">
          <span class="info-box-icon" style="background: white; border-radius: 5px; color: green">
            <i class="far fa-address-card"></i>
          </span>

          <div class="info-box-content">
            <div style="color: white; margin-top: 50px; display: block;" class="text-center">
              <strong class="info-box-text">Serviços</strong>
            </div>
            <br />
          </div>
          <div style="background-color: #009551; bottom: 0; height: 20px; margin-top: -5px; border-radius: 5px">
            <div class="text-right" style="margin-right: 10px">
              <i class="fas fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12" style="margin-top: 25px">
        <div class="info-box bg-green" style="border-radius: 5px;box-shadow: 10px 7px 9px -4px rgba(0,0,0,0.75);">
          <span class="info-box-icon" style="background: white; border-radius: 5px; color: green"><i
              class="far fa-comments"></i></span>

          <div class="info-box-content">
            <div style="color: white; margin-top: 50px; display: block;" class="text-center">
              <strong class="info-box-text">Comentários</strong>
            </div>
            <br />
          </div>
          <div style="background-color: #009551; bottom: 0; height: 20px; margin-top: -5px; border-radius: 5px">
            <div class="text-right" style="margin-right: 10px">
              <i class="fas fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3 col-sm-6 col-xs-12" style="margin-top: 25px">
        <div class="info-box bg-green" style="border-radius: 5px;box-shadow: 10px 7px 9px -4px rgba(0,0,0,0.75);">
          <span class="info-box-icon" style="background: white; border-radius: 5px; color: green"><i
              class="fa fa-sign-language"></i></span>

          <div class="info-box-content">
            <div style="color: white; margin-top: 50px; display: block;" class="text-center">
              <strong class="info-box-text">Atrativos</strong>
            </div>
            <br />
          </div>
          <div style="background-color: #009551; bottom: 0; height: 20px; margin-top: -5px; border-radius: 5px">
            <div class="text-right" style="margin-right: 10px">
              <i class="fas fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12" style="margin-top: 25px">
        <div class="info-box bg-green" style="border-radius: 5px;box-shadow: 10px 7px 9px -4px rgba(0,0,0,0.75);">
          <span class="info-box-icon" style="background: white; border-radius: 5px; color: green"><i
              class="fas fa-route"></i></span>

          <div class="info-box-content">
            <div style="color: white; margin-top: 50px; display: block;" class="text-center">
              <strong class="info-box-text">Rotas</strong>
            </div>
            <br />
          </div>
          <div style="background-color: #009551; bottom: 0; height: 20px; margin-top: -5px; border-radius: 5px">
            <div class="text-right" style="margin-right: 10px">
              <i class="fas fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>