<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">

    <ol class="breadcrumb">
      <li><a routerLink="/login"><i class="fa fa-dashboard"></i> Login</a></li>
      <li class="active">Registrar-se</li>
    </ol>
  </section>

<section class="content-header">

<ol class="breadcrumb">
  <label style="font-size: 20px;"><b>REGISTRAR</b></label><br>
  <table>
    <tr>

      <td><label>Nome *</label></td>
      <td><label>Nascimento</label></td>
      
    </tr>

    <tr>
      <td><input type="text" class="form-control" placeholder="usuário" name="user"></td>
      <td><input type="date" class="form-control" name="user"></td>
      
    </tr>
  </table>  
  <br>
    
      <label>Email *</label><br>
         
      <input type="text" class="form-control" placeholder="email" name="user"><br>
    
      <label>Digite o email novamente *</label><br>
    
      <input type="text" class="form-control" placeholder="confirmar email" name="user"><br>
  
      <input class="btn btn-facebook" type="button" name="Login" value="Registrar">

</ol>
</section>
<br><br><br><br><br><br><br><br><br>

</div>



<style>
     .container {
         width: 70vw;
        height: 50vh;
         
         display: flex;
         flex-direction: row;
         justify-content: center;
        align-items: center;
        font: Verdana;

     }
     .box {
         width: 300px;
         height: 300px;
        background: #F2F2F2; 
     }
     .label {
      font-family: Arial;
     }
     body {
        margin: 0px;
 }
 </style>
